{% for rule in security_rules %}
SecRuleRemoveById {{ rule }} 
{% endfor %}
SecRequestBodyLimit 100000000
SecRule REQUEST_FILENAME "@contains /remote.php/webdav"  "id:1,nolog,pass,ctl:ruleRemoveByTag=OWASP_CRS"